name: "CI"
permissions:
  contents: write
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - dev
      - main
    paths:
      - gradle/**
      - src/**
      - build.gradle.kts
      - settings.gradle.kts

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup java"
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: "Cache Gradle"
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle.kts', '**/gradle-wrapper.properties') }}

      - name: "Gradle chmod"
        run: chmod +x ./gradlew

      - name: "Run tests"
        run: ./gradlew test

      - name: "Report test reports"
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: |
            build/reports
            build/test-results/test



  build:
    name: "Build"
    runs-on: ubuntu-latest
    needs: test
    timeout-minutes: 5
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: "Setup java"
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 21

      - name: "Cache dependencies"
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle.kts', '**/gradle-wrapper.properties') }}

      - name: "Gradle chmod"
        run: chmod +x ./gradlew

      - name: "Build"
        run: ./gradlew assemble

      - name: "Upload artifact"
        uses: actions/upload-artifact@v4
        with:
          name: SkGame
          path: build/libs/*.jar